:root {

    --color-content-primary: #315133;
    --color-content-secondary: #191919;
    --color-content-tertiary: #727272;

    --color-background-100: #FFFFFF;
    --color-background-200: #E3E6E3;

}

* {
    font-family: 'Open Sans', sans-serif;
}
