:root {

    --color-content-primary: #FFFFFF;
    --color-content-secondary: #C3C3C3;

    --color-background-100: #2D2D2D;
    --color-background-200: #383838;

}

* {
    font-family: 'Open Sans', sans-serif;
}
